@import '../../../@theme/styles/themes/';

@include nb-install-component() {
  .flex-parent-element {
    display: flex;
    width: 100%;
  }
  button[nbButton] {
    margin: 0.2rem;
  }
  .flex-child-element {
    flex: 1;
    margin: 10px;
    align-items: center;
  }
  
  .flex-child-element:first-child {
    margin-right: 20px;
  }
  .download{
    text-align: right;
  }

  nb-card {
    transform: translate3d(0, 0, 0);
    margin-top: 1rem;
  }
  .table-container {
    overflow-x: auto;

  }    
  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
   
  }
  .filter-group{
    margin-left: 0rem;
    margin-bottom: 1rem;
  }
  .button-calculate {
    margin-top: 1.5rem;

 
}
.error {
  font-size: 0.8rem;
  color:#E32C2C;
}
::ng-deep {
    
  revo-grid {
    height: 70vh;
  }

}
  

} 
