<nb-accordion *nbIsGranted="['create', 'supply-points-and-supply-areas']">
  <nb-accordion-item #generateBalance>
    <nb-accordion-item-header>
      <span>Upload TSO Coefficients</span>
    </nb-accordion-item-header>
    <nb-accordion-item-body [nbSpinner]="loadingUpload" nbSpinnerSize="small" nbSpinnerStatus="primary">
      <form [formGroup]="manualUploadForm">
        <div class="row">

          <div class="col-sm-2">
            <div class="form-group">
              <label class="label">Country</label>

              <nb-select placeholder="-" formControlName="country_code" id="country"
                (selectedChange)="onChangeCountry($event)" fullWidth size="small">
                <nb-option *ngFor="let option of countriesOptions" [value]="option.code">{{ option.code }}</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="label">Balancing Zone</label>
              <nb-select placeholder="-" formControlName="balancing_zone_id" fullWidth
                [status]="errorBalanceZone == true ? 'danger' : 'basic'" size="small">
                <nb-option *ngFor="let option of zoneOptions" [value]="option.id">{{ option.label }}</nb-option>
              </nb-select>
              <div class="error-div">
                <span class="error-block" *ngIf="errorBalanceZone == true">
                  <span class="error" *ngIf="errorBalanceZone == true">There are no balancing zone results for this
                    country</span>
                </span>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group file-container">
              <input type="file" nbInput name="file" formControlName="file" id="file" fullWidth accept=".xlsx"
                (change)="onFileChange($event)" (click)="onFileClick($event)" style="display: none" fieldSize="small" />

              <div class="dropzone">
                <label for="file" class="labelLink">
                  <span class="textLink"><nb-icon class="icon" nbPrefix icon="upload-outline"
                      pack="eva"></nb-icon>Select your file</span></label>
                &nbsp; &nbsp;
                <span *ngIf="fileName == ''">No file chosen</span>
                <span *ngIf="fileName != ''">{{ fileName }}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group" style="margin-top: 1.7rem">
              <nb-toggle formControlName="logView" labelPosition="start" (checkedChange)="onToggle($event)" fullWidth>
                <label class="label">Hide/Show Log</label>
              </nb-toggle>
            </div>
          </div>
        </div>
        <div class="row" style="text-align: right">
          <div class="col-sm-12">
            <div class="form-group">
              <button nbButton status="primary" (click)="manualUpload()"
                [disabled]="!fileValid || !manualUploadForm.valid" [nbSpinner]="loadingUpload" nbSpinnerStatus="basic"
                nbSpinnerSize="small" size="small">
                <nb-icon class="icon" nbPrefix icon="arrow-circle-up-outline" pack="eva"></nb-icon>
                Upload
              </button>
              <button nbButton status="primary" (click)="openDownloadDialog()" nbSpinnerStatus="basic"
                nbSpinnerSize="small" size="small" [disabled]="
                  !manualUploadForm.get('balancing_zone_id').value
                ">
                <nb-icon class="icon" nbPrefix icon="cloud-download-outline" pack="eva"></nb-icon>
                Download
              </button>
              <button nbButton status="primary" (click)="downloadTemplate()" nbSpinnerStatus="basic"
                nbSpinnerSize="small" size="small" [disabled]="
                  !manualUploadForm.get('balancing_zone_id').value
                ">
                <nb-icon class="icon" nbPrefix icon="cloud-download-outline" pack="eva"></nb-icon>
                Template
              </button>
            </div>
          </div>
        </div>
      </form>

      <div class="card-table log-container" style="

          padding: 1rem 1rem 1rem 1rem;
          font-size: 0.7875rem;
          height: 150px;
        " *ngIf="logContainerDiv">
        <div *ngIf="logContainer">
          <i>
            ({{ timestamp }})&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;
            *{{ successes }} records were uploaded CORRECTLY*
            &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp;*{{
            creation_errors_count
            }}
            ERRORS found*<br />

            <span *ngFor="let error of creation_errors; let i = index">
              ERROR - {{ error }}<br />
            </span>
            <span *ngFor="let success of successfully_operations; let i = index">
              SUCCESS - {{ success }}<br />
            </span>
          </i>
        </div>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>


<nb-card [nbSpinner]="loading" nbSpinnerSize="small" nbSpinnerStatus="primary">

  <nb-card-header>
    <span>Supply Areas and Points</span>
    <nb-actions size="small">
      <nb-action icon="more-vertical-outline" [matMenuTriggerFor]="actionMenu"></nb-action>
    </nb-actions>
    <mat-menu #actionMenu="matMenu" yPosition="below" xPosition="before">
      <button mat-menu-item [matMenuTriggerFor]="exportMenu" class="action-button">
        Export
      </button>
    </mat-menu>

    <mat-menu #exportMenu="matMenu" yPosition="below" xPosition="before">
      <button mat-menu-item class="action-button" (click)=" exportAsXLSXSupplyAreas()">
        XLSX Supply Areas
      </button>
      <button mat-menu-item class="action-button" (click)=" exportAsCSVSupplyAreas()">
        CSV Supply Areas
      </button>
      <button mat-menu-item class="action-button" (click)=" exportAsXLSXPoints()">
        XLSX Supply Points
      </button>
      <button mat-menu-item class="action-button" (click)=" exportAsCSVPoints()">
        CSV TSO Supply Points
      </button>
    </mat-menu>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset>

      <nb-tab tabTitle="Supply Areas">


        <div class="col-sm-12" style="text-align: right; margin-bottom: 0.5rem;">
          <button type="submit" nbButton status="basic" (click)="refreshArea()" size="tiny">
            <nb-icon icon="sync-outline"></nb-icon>
            Refresh
          </button>
          &nbsp;&nbsp;&nbsp;
          <nb-select [(selected)]="selectedArea" [(ngModel)]="defaultRowPerPageArea" size="tiny">
            <nb-option *ngFor="let option of optionsPager" [value]="option.value" (click)="setPager()">{{option.value
              }}</nb-option>
          </nb-select>
        </div>
        <div class="table-container col-md-12">
          <ng2-smart-table class="table-data" [settings]=" settingsSupplyArea" [source]="sourceSupplyAreas"
            (edit)="onEditSupplyArea($event)" (create)="onAddSupplyArea($event)">
          </ng2-smart-table>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Supply Points" [nbSpinner]="loading" nbSpinnerSize="small" nbSpinnerStatus="primary">


        <div class="col-sm-12" style="text-align: right; margin-bottom: 0.5rem;">
          <button type="submit" nbButton status="basic" (click)="refreshPoint()" size="tiny">
            <nb-icon icon="sync-outline"></nb-icon>
            Refresh
          </button>
          &nbsp;&nbsp;&nbsp;
          <nb-select [(selected)]="selectedPoint" [(ngModel)]="defaultRowPerPagePoint" size="tiny">
            <nb-option *ngFor="let option of optionsPager" [value]="option.value" (click)="setPager()">{{option.value
              }}</nb-option>
          </nb-select>
        </div>
        <div class="table-container col-md-12">
          <ng2-smart-table class="table-data" [settings]="settingsSupplyPoint" [source]="sourcePoints"
            (edit)="onEditPoint($event)" (create)="onAddPoint($event)" (delete)="onDeletePoint($event)">
          </ng2-smart-table>
        </div>
      </nb-tab>
    </nb-tabset>


  </nb-card-body>
</nb-card>