@import '../../../../@theme/styles/themes';
@include nb-install-component() {
    nb-card {
        max-width: 900px;
        max-height: 600px;
    }
    nb-checkbox {
        margin-bottom: 1rem;
    }
    .form-inline [fullWidth] {
        flex: 1;
    }
    .form-inline>* {
        margin: 0 1.5rem 1.5rem 0;
    }
    nb-card.inline-form-card nb-card-body {
        padding-bottom: 0;
    }
    .error {
        font-size: 0.8rem;
        color:#E32C2C;
    }
    input {
        width: 100%;
    }
    .cancel {
        margin-right: 1rem;
    }
    .obligatory {
        color:#E32C2C;
    }
}