<nb-card class="dialog-vpb">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
  
        <form [formGroup]="satellitePlantForm">
         
            <input
              formControlName="type"
              type="hidden"
              nbInput
              id="type"
              fullWidth
            />

            <input
              formControlName="id"
              type="number"
              nbInput
              id="id"
              style="display: none"
            />
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="label"
                    >Name <span class="obligatory">*</span></label
                  >

                  <input
                    formControlName="name"
                    type="text"
                    nbInput
                    fullWidth
                    id="name"
                    fieldSize="small"
                    [status]="
                      satellitePlantForm.get('name').errors &&
                      (satellitePlantForm.get('name').touched ||
                        satellitePlantForm.get('name').dirty)
                        ? 'danger'
                        : 'basic'
                    "
                  />

                  <div class="error-div">
                    <span
                      class="error-block"
                      *ngIf="
                        satellitePlantForm.get('name').errors &&
                        (satellitePlantForm.get('name').touched ||
                          satellitePlantForm.get('name').dirty)
                      "
                    >
                      <span
                        class="error"
                        *ngIf="satellitePlantForm.get('name').errors.required"
                        >Name is required</span
                      >
                      <span
                        class="error"
                        *ngIf="satellitePlantForm.get('name').errors.maxlength"
                        >Maximum 10 characters</span
                      >
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                    <label class="label">Type  <span class="obligatory">*</span></label>
            
                    <nb-select
                    formControlName="retail"
                      size="small"
                      fullWidth
                      placeholder="-"
                    >
                      <nb-option
                        *ngFor="let option of typeOptions"
                        [value]="option.id"
                        >{{ option.label }}</nb-option
                      >
                    </nb-select>
                  </div>
            </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="label">TSO Code <span class="obligatory">*</span> </label>
                  <input
                    formControlName="tso_code"
                    type="text"
                    nbInput
                    id="tso_code"
                    fullWidth
                    fieldSize="small"
                    [status]="
                      satellitePlantForm.get('tso_code').errors &&
                      (satellitePlantForm.get('tso_code').touched || satellitePlantForm.get('tso_code').dirty)
                        ? 'danger'
                        : 'basic'
                    "
                  />
                  <div class="error-div">
                    <span
                      class="error-block"
                      *ngIf="
                        satellitePlantForm.get('tso_code').errors &&
                        (satellitePlantForm.get('tso_code').touched ||
                          satellitePlantForm.get('tso_code').dirty)
                      "
                    >
                      <span
                        class="error"
                        *ngIf="satellitePlantForm.get('tso_code').errors.required"
                        >TSO code is required</span
                      >
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="label"
                    >Country <span class="obligatory">*</span></label
                  >
                  <nb-select
                    placeholder="-"
                    formControlName="country_code"
                    size="small"
                    id="country"
                    fullWidth
                    (selectedChange)="onChange($event)"
                  >
                    <nb-option
                      *ngFor="let option of countriesOptions"
                      [value]="option.code"
                      >{{ option.code }}</nb-option
                    >
                  </nb-select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="label"
                    >Balancing Zone <span class="obligatory">*</span></label
                  >
                  <nb-select
                    placeholder="-"
                    formControlName="balance_zone_id"
                    size="small"
                    id="balance_zone_name"
                    fullWidth
                    [status]="errorBalanceZone == true ? 'danger' : 'basic'"
                  >
                    <nb-option
                      *ngFor="let option of zoneOptions"
                      [value]="option.id"
                      >{{ option.label }}</nb-option
                    >
                  </nb-select>
                  <div class="error-div">
                    <span
                      class="error-block"
                      *ngIf="errorBalanceZone == true"
                    >
                      <span class="error" *ngIf="errorBalanceZone == true"
                        >There are no balance zone results for this
                        country</span
                      >
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="label">Owner <span class="obligatory">*</span></label>
                  <nb-select
                    placeholder="-"
                    formControlName="owner_id"
                    fullWidth
                    [status]="errorLegalEntity == true ? 'danger' : 'basic'"
                    size="small"
          
                  >
                    <nb-option
                      *ngFor="let option of entitiesOptions"
                      [value]="option.id"
                      >{{ option.name }}</nb-option
                    >
                  </nb-select>
                  <div class="error-div">
                    <span class="error-block" *ngIf="errorLegalEntity == true">
                      <span class="error" *ngIf="errorLegalEntity == true"
                        >There are no legal entities results for this
                        country</span
                      >
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                    <label class="label" 
                    nbTooltipPlacement="right"
                    nbTooltipStatus="primary">Address <span class="obligatory">*</span></label>
          
                      <input
                      formControlName="address"
                      type="text"
                      nbInput
                      id="address"
                      fullWidth
                      fieldSize="small"
                      [status]="
                        satellitePlantForm.get('address').errors &&
                        (satellitePlantForm.get('address').touched || satellitePlantForm.get('address').dirty)
                          ? 'danger'
                          : 'basic'
                      "
                    />
            
                  
                    <div class="error-div">
                      <span
                        class="error-block"
                        *ngIf="
                          satellitePlantForm.get('address').errors &&
                          (satellitePlantForm.get('address').touched || satellitePlantForm.get('address').dirty)
                        "
                      >
                        <span class="error" *ngIf="satellitePlantForm.get('address').errors.required"
                          >address is required</span
                        >
                        <span class="error" *ngIf="satellitePlantForm.get('address').errors.pattern"
                        >  address should be the real one!</span
                      >
                      </span>
                    </div>
                  </div>
            </div>
            </div>
          </form>
       
    
   
    </nb-card-body>
    <nb-card-footer style="text-align: right">
      <button
        class="cancel"
        nbButton
        status="basic"
        (click)="cancel()"
        size="small"
      >
        Close
      </button>
      <button
        nbButton
        status="success"
        (click)="add()"
        [disabled]="
          !satellitePlantForm.valid || isDuplicateLinepack || isDuplicateUncommitted
        "
        id="add"
        size="small"
      >
        {{ action }}
      </button>
    </nb-card-footer>
  </nb-card>
  