
<nb-accordion *nbIsGranted="['create', 'consumption']">
  <nb-accordion-item>
    <nb-accordion-item-header>
      <span>Manage Consumption Data</span>
    </nb-accordion-item-header>
    <nb-accordion-item-body [nbSpinner]="loadingUpload" nbSpinnerSize="small"
    nbSpinnerStatus="primary">
      <nb-tabset>
        <nb-tab tabTitle="File" >
          <form [formGroup]="manualUploadForm">
            <div class="row">
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="label">Country</label>

                  <nb-select
                    formControlName="country_code"
                    id="country"
                    (selectedChange)="onChangeCountry1($event)"
                    placeholder="-"
                    fullWidth
                    size="small"
                  >
                    <nb-option
                      *ngFor="let option of countriesOptions"
                      [value]="option.code"
                      >{{ option.code }}</nb-option
                    >
                  </nb-select>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="label">Balancing Zone</label>
                  <nb-select
                    placeholder="-"
                    formControlName="balancing_zone_id"
                    fullWidth
                    [status]="errorBalanceZone1 == true ? 'danger' : 'basic'"
                    size="small"
                  >
                    <nb-option
                      *ngFor="let option of zoneOptions1"
                      [value]="option.id"
                      >{{ option.label }}</nb-option
                    >
                  </nb-select>
                  <div class="error-div">
                    <span class="error-block" *ngIf="errorBalanceZone1 == true">
                      <span class="error" *ngIf="errorBalanceZone1 == true"
                        >There are no balancing zone results for this
                        country</span
                      >
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="label">Consumption type</label>
                  <nb-select
                    fullWidth
                    formControlName="consumption_type"
                    placeholder="-"
                    size="small"
                  >
                    <nb-option value="conventional">Conventional</nb-option>
                    <nb-option value="ccgt">CCGT</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="label">Legal Entity</label>
                  <nb-select
                    placeholder="-"
                    formControlName="legal_entity"
                    fullWidth
                    [status]="errorLegalEntity1 == true ? 'danger' : 'basic'"
                    size="small"
                  >
                    <nb-option
                      *ngFor="let option of entitiesOptions1"
                      [value]="option.id"
                      >{{ option.name }}</nb-option
                    >
                  </nb-select>
                  <div class="error-div">
                    <span class="error-block" *ngIf="errorLegalEntity1 == true">
                      <span class="error" *ngIf="errorLegalEntity1 == true"
                        >There are no legal entities results for this
                        country</span
                      >
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="form-group">
                  <label class="label">Granularity</label>
                  <nb-select
                    fullWidth
                    formControlName="granularity"
                    placeholder="-"
                    (selectedChange)="onChangeGranularity1()"
                    size="small"
                  >
                    <nb-option value="supply_area">Supply Area</nb-option>
                    <!--    <nb-option value="supply_point">Supply Point</nb-option> -->
                  </nb-select>
                </div>
              </div>
              <div
                class="col-sm-4 log-container"
                style="
        
                  text-align: center;
                  border-radius: 2%;
                "
              >
                <label class="label">Time offset</label>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <nb-select
                        fullWidth
                        formControlName="time_period"
                        placeholder="-"
                        (selectedChange)="onChangeTimePeriod()"
                        size="small"
                      >
                        <nb-option value="D">Daily</nb-option>
                        <nb-option value="M">Monthly</nb-option>
                      </nb-select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input
                        type="text"
                        nbInput
                        fullWidth
                        formControlName="interval"
                        [status]="
                          manualUploadForm.get('interval').errors &&
                          (manualUploadForm.get('interval').touched ||
                            manualUploadForm.get('interval').dirty)
                            ? 'danger'
                            : 'basic'
                        "
                        fieldSize="small"
                      />
                      <div class="error-div">
                        <span
                          class="error-block"
                          *ngIf="
                            manualUploadForm.get('interval').errors &&
                            (manualUploadForm.get('interval').touched ||
                              manualUploadForm.get('interval').dirty)
                          "
                        >
                          <span
                            class="error"
                            *ngIf="
                              manualUploadForm.get('interval').errors.required
                            "
                            >interval Code is required</span
                          >
                          <span
                            class="error"
                            *ngIf="
                              manualUploadForm.get('interval').errors.pattern
                            "
                            >only integer numbers</span
                          >
                          <span
                            class="error"
                            *ngIf="manualUploadForm.get('interval').errors.min"
                            >numbers=>0</span
                          >
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group file-container">
                  <input
                    type="file"
                    nbInput
                    name="file"
                    formControlName="file"
                    id="file"
                    fullWidth
                    accept=".xlsx"
                    (change)="onFileChange($event)"
                    (click)="onFileClick($event)"
                    style="display: none"
                    fieldSize="small"
                  />

                  <div
                    class="dropzone"
                    [ngClass]="{
                      disabledNoOfCasesDiv:
                        !manualUploadForm.get('granularity').value
                    }"
                  >
                    <label for="file" class="labelLink">
                      <span
                        class="textLink"
                        [ngClass]="{
                          disabledNoOfCasesSpan:
                            !manualUploadForm.get('granularity').value
                        }"
                        ><nb-icon
                          class="icon"
                          nbPrefix
                          icon="upload-outline"
                          pack="eva"
                        ></nb-icon
                        >Select your file</span
                      ></label
                    >
                    &nbsp; &nbsp;
                    <span *ngIf="fileName == ''">No file chosen</span>
                    <span *ngIf="fileName != ''">{{ fileName }}</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group" style="margin: 1.7rem">
                  <nb-toggle
                    formControlName="logView"
                    labelPosition="start"
                    (checkedChange)="onToggle($event)"
                    fullWidth
                  >
                    <label class="label">Hide/Show Log</label>
                  </nb-toggle>
                </div>
              </div>
            </div>
            <div class="row" style="text-align: right">
              <div class="col-sm-12">
                <div class="form-group">
                  <button
                    nbButton
                    status="primary"
                    (click)="manualUpload()"
                    [disabled]="!fileValid || !manualUploadForm.valid"
                    [nbSpinner]="loadingUpload"
                    nbSpinnerStatus="basic"
                    nbSpinnerSize="large"
                    nbSpinnerMessage=""
                    size="small"
                  >
                    <nb-icon
                      class="icon"
                      nbPrefix
                      icon="arrow-circle-up-outline"
                      pack="eva"
                    ></nb-icon>
                    Upload
                  </button>
                  <button
                    nbButton
                    status="primary"
                    (click)="download()"
                    [disabled]="
                      !manualUploadForm.get('balancing_zone_id').value ||
                      !manualUploadForm.get('legal_entity').value ||
                      !manualUploadForm.get('consumption_type').value ||
                      manualUploadForm.get('granularity').value != 'supply_area'
                    "
                    nbSpinnerStatus="basic"
                    nbSpinnerSize="large"
                    nbSpinnerMessage=""
                    size="small"
                  >
                    <nb-icon
                      class="icon"
                      nbPrefix
                      icon="cloud-download-outline"
                      pack="eva"
                    ></nb-icon>
                    Template
                  </button>
                </div>
              </div>
            </div>
            <div
              class="card-table log-container"
              style="
         
                padding: 1rem 1rem 1rem 1rem;
                font-size: 0.7875rem;
                height: 150px;
              "
              *ngIf="logContainerDiv"
            >
              <div *ngIf="logContainer">
                <i>
                  ({{ timestamp }})&nbsp;&nbsp;&nbsp;&nbsp; |
                  &nbsp;&nbsp;&nbsp;&nbsp; *{{ successes }} records were
                  uploaded CORRECTLY* &nbsp;&nbsp;&nbsp;&nbsp; |
                  &nbsp;&nbsp;&nbsp;&nbsp;*{{ creation_errors_count }} ERRORS
                  found*<br />
                  <span *ngFor="let error of creation_errors; let i = index">
                    ERROR - {{ error }}<br />
                  </span>
                </i>
              </div>
            </div>
          </form>
        </nb-tab>
        <nb-tab tabTitle="Web Service" [nbSpinner]="loadingUploadWebService">
          <form [formGroup]="autoUploadForm">
            <div class="row upload-container">
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="label">Country</label>

                  <nb-select
                    formControlName="country_code"
                    id="country"
                    (selectedChange)="onChangeCountry2($event)"
                    placeholder="-"
                    fullWidth
                    size="small"
                  >
                    <nb-option
                      *ngFor="let option of countriesOptions"
                      [value]="option.code"
                      >{{ option.code }}</nb-option
                    >
                  </nb-select>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="label">Balancing Zone</label>
                  <nb-select
                    placeholder="-"
                    formControlName="balancing_zone_id"
                    fullWidth
                    [status]="errorBalanceZone2 == true ? 'danger' : 'basic'"
                    size="small"
                  >
                    <nb-option
                      *ngFor="let option of zoneOptions2"
                      [value]="option.id"
                      >{{ option.label }}</nb-option
                    >
                  </nb-select>
                  <div class="error-div">
                    <span class="error-block" *ngIf="errorBalanceZone2 == true">
                      <span class="error" *ngIf="errorBalanceZone2 == true"
                        >There are no balancing zone results for this
                        country</span
                      >
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="label">Legal Entity</label>
                  <nb-select
                    placeholder="-"
                    formControlName="legal_entity"
                    fullWidth
                    [status]="errorLegalEntity2 == true ? 'danger' : 'basic'"
                    size="small"
                  >
                    <nb-option
                      *ngFor="let option of entitiesOptions2"
                      [value]="option.id"
                      >{{ option.name }}</nb-option
                    >
                  </nb-select>
                  <div class="error-div">
                    <span class="error-block" *ngIf="errorLegalEntity2 == true">
                      <span class="error" *ngIf="errorLegalEntity2 == true"
                        >There are no legal entities results for this
                        country</span
                      >
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="label">Granularity</label>
                  <nb-select
                    fullWidth
                    formControlName="granularity"
                    placeholder="-"
                    size="small"
                    [(selected)]="firstDropdownSelected" 
                    (change)="showOption3()"
                  >
                    <nb-option value="supply_area">Supply Area</nb-option>
                    <nb-option value="supply_point">Supply Point</nb-option>
                    <nb-option value="balance_zone">Balance Zone</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="label">Consumption type</label>
                  <nb-select
                    [(selected)]="secondDropdownSelected"
                    fullWidth
                    formControlName="consumption_type"
                    placeholder="-"
                    size="small"
                  >
                    <nb-option *ngFor="let option of options" [value]="option.value">
                      {{ option.label }}
                    </nb-option>
                    <nb-option value="conventional" *ngIf="showOptions()">
                      Conventional
                    </nb-option>
                    <nb-option value="ccgt" *ngIf="showOptions()">
                      CCGT
                    </nb-option>
                    <nb-option value="adjustment" *ngIf="!showOptions()">
                      Adjustment 
                    </nb-option>
                    <nb-option value="ndm_forecast" *ngIf="showOptions2()">
                      NDM Forecast
                    </nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="label">Date</label>
                  <input
                    nbInput
                    [nbDatepicker]="datepicker"
                    formControlName="date"
                    fieldSize="small"
                    fullWidth
                  />
                  <nb-datepicker
                    format="dd.MM.yyyy"
                    #datepicker
                    [filter]="filterFn"
                  ></nb-datepicker>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group" style="margin: 1.7rem">
                  <nb-toggle
                    formControlName="logView"
                    labelPosition="start"
                    (checkedChange)="onToggle1($event)"
                    fullWidth
                  >
                    <label class="label">Hide/Show Log</label>
                  </nb-toggle>
                </div>
              </div>
            </div>
            <div class="row" style="text-align: right">
              <div class="col-sm-12">
                <div class="form-group">
                  <button
                    type="submit"
                    nbButton
                    status="primary"
                    (click)="autoUpload()"
                    [disabled]="!autoUploadForm.valid"
                    size="small"
                  >
                    <nb-icon
                      class="icon"
                      nbPrefix
                      icon="arrow-circle-down-outline"
                      pack="eva"
                    ></nb-icon>
                    Download
                  </button>
                </div>
              </div>
            </div>
            <div
              class="card-table log-container"
              style="
       
                padding: 1rem 1rem 1rem 1rem;
                font-size: 0.7875rem;
                height: 150px;
              "
              *ngIf="logContainerWebServiceDiv"
            >
              <div *ngIf="logContainerWebService">
                <i>
                  ({{ timestampWebService }})&nbsp;&nbsp;&nbsp;&nbsp; |
                  &nbsp;&nbsp;&nbsp;&nbsp; *{{ successesWebService }} records
                  were uploaded CORRECTLY* &nbsp;&nbsp;&nbsp;&nbsp; |
                  &nbsp;&nbsp;&nbsp;&nbsp;*{{
                    creation_errors_countWebService
                  }}
                  ERRORS found*<br />
                  <span
                    *ngFor="
                      let error of creation_errorsWebService;
                      let i = index
                    "
                  >
                    ERROR - {{ error }}<br />
                  </span>
                </i>
              </div>
            
              <div *ngIf="logContainerWebServiceAdjustment">
                <i>
                  ({{ timestampWebService }})&nbsp;&nbsp;&nbsp;&nbsp; |
                  &nbsp;&nbsp;&nbsp;&nbsp;*{{
                  WebServiceAdjustment
                  }}
                </i> 
              </div>
            
            </div>
          </form>
        </nb-tab>
      </nb-tabset>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
<nb-accordion>
  <nb-accordion-item
    #generateConsumptionComparison
    [nbSpinner]="loadingVisualize"
    nbSpinnerSize="small"
    nbSpinnerStatus="primary"
  >
    <nb-accordion-item-header>
      <span>Visualize Consumption Comparison</span>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <form [formGroup]="generateConsumptionCompareForm">
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label class="label">Country</label>

              <nb-select
                placeholder="-"
                formControlName="country_code"
                id="country"
                (selectedChange)="onChangeCountry3($event)"
                size="small"
                fullWidth
              >
                <nb-option
                  *ngFor="let option of countriesOptions"
                  [value]="option.code"
                  >{{ option.code }}</nb-option
                >
              </nb-select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="label">Balancing Zone</label>
              <nb-select
                placeholder="-"
                formControlName="balancing_zone"
                fullWidth
                [status]="errorBalanceZone2 == true ? 'danger' : 'basic'"
                (selectedChange)="onChangeBalanceZone($event)"
                size="small"
              >
                <nb-option
                  *ngFor="let option of zoneOptions3"
                  [value]="option.id"
                  >{{ option.label }}</nb-option
                >
              </nb-select>
              <div class="error-div">
                <span class="error-block" *ngIf="errorBalanceZone3 == true">
                  <span class="error" *ngIf="errorBalanceZone3 == true"
                    >There are no balancing zone results for this country</span
                  >
                </span>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label class="label">Legal Entity</label>
              <nb-select
                placeholder="-"
                fullWidth
                formControlName="legal_entity"
                [status]="errorLegalEntity3 == true ? 'danger' : 'basic'"
                (selectedChange)="onChangeLegalEntity()"
                size="small"
              >
                <nb-option
                  *ngFor="let option of entitiesOptions3"
                  [value]="option.id"
                  >{{ option.name }}</nb-option
                >
              </nb-select>
              <div class="error-div">
                <span class="error-block" *ngIf="errorLegalEntity3 == true">
                  <span class="error" *ngIf="errorLegalEntity3 == true"
                    >There are no legal entities results for this country</span
                  >
                </span>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label class="label">Start Date - End Date</label>
              <input
                nbInput
                fieldSize="small"
                [nbDatepicker]="rangepickerGenerateDemand"
                formControlName="date"
                [status]="errorDate == true ? 'danger' : 'basic'"
                fullWidth
                (ngModelChange)="onChangeRangePicker()"
              />
              <nb-rangepicker
                #rangepickerGenerateDemand
                format="dd.MM.yyyy"
              ></nb-rangepicker>
              <div class="error-div">
                <span class="error-block" *ngIf="errorDate == true">
                  <span class="error" *ngIf="errorDate == true"
                    >The format must be dd.MM.yyyy and start date <= end
                    date</span
                  >
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="label">Supply areas</label>
              <angular2-multiselect
                [data]="supplyAreaOptions"
                [(ngModel)]="selectedSupplyAreas"
                [settings]="settings"
                formControlName="supply_area"
                [ngClass]="errorSupplyAreas == true ? 'error-select' : ''"
              >
              </angular2-multiselect>
              <div class="error-div">
                <span class="error-block" *ngIf="errorSupplyAreas == true">
                  <span class="error" *ngIf="errorSupplyAreas == true"
                    >There are no supply areas for the specified balance
                    zone.</span
                  >
                </span>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label class="label">Granularity</label>
              <nb-select
                fullWidth
                formControlName="granularity"
                placeholder="-"
                (selectedChange)="onChangeGranularity2()"
                size="small"
              >
                <nb-option value="supply_area">Supply Area</nb-option>
                <nb-option value="supply_point">Supply Point</nb-option>
                <nb-option value="balance_zone">Balance Zone</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="label">Variable 1</label>
              <nb-select
                fullWidth
                formControlName="variable1"
                placeholder="-"
                (selectedChange)="onChangeVariable1()"
                size="small"
              >
                <nb-option value="Demand">Demand</nb-option>
                <nb-option value="Consumption">Consumption</nb-option>
              </nb-select>
            </div>
          </div>

          <div class="col-sm-2" *ngIf="activeTimeperiod1">
            <div class="form-group">
              <label class="label">Time Period 1</label>
              <nb-select
                fullWidth
                formControlName="time_period1"
                placeholder="-"
                [status]="errorTimePeriod == true ? 'danger' : 'basic'"
                size="small"
              >
                <nb-option
                  *ngFor="let option of timePeriodOptions"
                  [value]="option.replace('+', '')"
                  >{{ option }}</nb-option
                >
              </nb-select>
              <div class="error-div">
                <span class="error-block" *ngIf="errorTimePeriod == true">
                  <span class="error" *ngIf="errorTimePeriod == true"
                    >There are no time periods results for this balancing zone,
                    date range, legal entity, and supply areas
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="label">Variable 2</label>
              <nb-select
                fullWidth
                formControlName="variable2"
                placeholder="-"
                (selectedChange)="onChangeVariable2()"
                size="small"
              >
                <nb-option value="Demand">Demand</nb-option>
                <nb-option value="Consumption">Consumption</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-sm-2" *ngIf="activeTimeperiod2">
            <div class="form-group">
              <label class="label">Time Period 2</label>
              <nb-select
                fullWidth
                formControlName="time_period2"
                size="small"
                [status]="errorTimePeriod == true ? 'danger' : 'basic'"
              >
                <nb-option
                  *ngFor="let option of timePeriodOptions"
                  [value]="option.replace('+', '')"
                  >{{ option }}</nb-option
                >
              </nb-select>
              <div class="error-div">
                <span class="error-block" *ngIf="errorTimePeriod == true">
                  <span class="error" *ngIf="errorTimePeriod == true"
                    >There are no time periods results for this balancing zone,
                    date range, legal entity, and supply areas
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="text-align: right">
          <div class="col-sm-12">
            <div class="form-group">
              <button
                nbButton
                status="primary"
                (click)="calculate(true)"
                [disabled]="!generateConsumptionCompareForm.valid"
                size="small"
              >
                <nb-icon icon="arrow-right"></nb-icon>
                Calculate
              </button>
              <button
                nbButton
                status="basic"
                (click)="reset()"
                size="small"
                [disabled]="!generateConsumptionCompareForm.valid"
              >
                <nb-icon icon="close-outline"></nb-icon>
                Clear
              </button>
            </div>
          </div>
        </div>
      </form>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
<nb-card
  [nbSpinner]="loadingViewConsumption"
  nbSpinnerSize="small"
  nbSpinnerStatus="primary"
>
  <nb-card-header>
    <span>Consumption Comparison View</span>

    <nb-actions size="small" style="text-align: right">
      <nb-action
        icon="more-vertical-outline"
        [matMenuTriggerFor]="actionMenu"
      ></nb-action>
    </nb-actions>
    <mat-menu #actionMenu="matMenu" yPosition="below" xPosition="before">
      <button
        mat-menu-item
        [matMenuTriggerFor]="exportMenu"
        class="action-button"
        [disabled]="!dataView"
      >
        Export
      </button>
    </mat-menu>

    <mat-menu #exportMenu="matMenu" yPosition="below" xPosition="before">
      <button mat-menu-item class="action-button" (click)="exportAsXLSX()">
        XLSX
      </button>
      <button mat-menu-item class="action-button" (click)="exportAsXLSX()">
        CSV
      </button>
    </mat-menu>
  </nb-card-header>
  <nb-card-body>
    <nb-tabset *ngIf="dataView" id="tabset" name="tabset" #tabset>
      <nb-tab
        *ngFor="let element of dataView"
        tabTitle="{{ element.name }}"
        tabId="{{ element.id }}"
        [active]="true"
      >
        <div *ngIf="errorsSupplyAreas.length > 0" class="error-div">
          <nb-alert outline="warning">
            <a style="color: #b19100 !important; font-size: 0.8rem"
              ><nb-icon icon="alert-triangle-outline"></nb-icon> &nbsp; &nbsp;
              &nbsp; The supply areas {{ errorsSupplyAreas }} has not any supply
              point, so they are not shown for the specified demand view
              parameters.
            </a>
          </nb-alert>
        </div>
        <div *ngIf="validateRevogridView == false" class="error-div">
          <nb-alert outline="danger">
            <a style="color: #a3162e !important; font-size: 0.8rem"
              ><nb-icon icon="close-outline"></nb-icon> &nbsp; &nbsp; &nbsp; The
              values must be numbers!
            </a></nb-alert
          >
        </div>
        <div class="row">
          <div class="col-sm-12" style="text-align: right">
            <button
              type="submit"
              nbButton
              status="basic"
              (click)="refresh()"
              size="tiny"
            >
              <nb-icon icon="sync-outline"></nb-icon>
              Refresh
            </button>
          </div>
        </div>
        <nb-card class="card-table" id="cardTable">
          <revo-grid
            id="{{ element.name.replace(' ', '_').toLowerCase() }}"
            [source]="element.rows"
            [columns]="element.columns"
            [theme]="revogridTheme"
            filter="{true}"
            (viewportscroll)="OnViewPortScroll($event)"
            exporting="true"
            row-size="30"
            range="true"
            stretch="false"
            [readonly]="readonly"
          ></revo-grid>
        </nb-card>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
