<nb-card>
    <nb-card-header class="header-principle">{{ title }}</nb-card-header>
    <nb-card-body class="body-principle">
      <form [formGroup]="vesselForm">
        <input
          formControlName="id"
          type="number"
          nbInput
          id="id"
          style="display: none"
        /> <div class="row">
          
            
            <div class="col-sm-6">   <div class="form-group">
                <label class="label">Name <span class="obligatory">*</span></label>
        
                <input
                  formControlName="name"
                  type="text"
                  nbInput
                  fullWidth
                  id="name"
                  fieldSize="small"
                  [status]="
                    vesselForm.get('name').errors &&
                    (vesselForm.get('name').touched ||
                      vesselForm.get('name').dirty)
                      ? 'danger'
                      : 'basic'
                  "
                />
        
                <div class="error-div">
                  <span
                    class="error-block"
                    *ngIf="
                      vesselForm.get('name').errors &&
                      (vesselForm.get('name').touched ||
                        vesselForm.get('name').dirty)
                    "
                  >
                    <span
                      class="error"
                      *ngIf="vesselForm.get('name').errors.required"
                      >Name is required</span
                    >
                    <span
                      class="error"
                      *ngIf="vesselForm.get('name').errors.maxlength"
                      >Maximun 35 characters</span
                    >
                  </span>
                </div>
              </div></div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">Capacity <span class="obligatory">*</span></label>
      
                  <input
                    formControlName="capacity"
                    type="text"
                    nbInput
                    fullWidth
                    fieldSize="small"
                    [status]="
                      vesselForm.get('capacity').errors &&
                      (vesselForm.get('capacity').touched ||
                        vesselForm.get('capacity').dirty)
                        ? 'danger'
                        : 'basic'
                    "
                  />
                  <div class="error-div">
                    <span
                      class="error-block"
                      *ngIf="
                        vesselForm.get('capacity').errors &&
                        (vesselForm.get('capacity').touched ||
                          vesselForm.get('capacity').dirty)
                      "
                    >
                      <span
                        class="error"
                        *ngIf="
                          vesselForm.get('capacity').errors.required
                        "
                        >Capacity is required</span
                      >
                      <span
                        class="error"
                        *ngIf="
                          vesselForm.get('capacity').errors.pattern
                        "
                        >only numbers (points as thousands and commas as
                        decimals)</span
                      >
                    </span>
                  </div>
                </div>
              </div>
           
              <div class="col-sm-6">
                <div class="form-group">
                    <label class="label">IMO</label>
            
                    <input
                      formControlName="code"
                      type="text"
                      nbInput
                      fullWidth
                      id="code"
                      fieldSize="small"
                      [status]="
                        vesselForm.get('code').errors &&
                        (vesselForm.get('code').touched || vesselForm.get('code').dirty)
                          ? 'danger'
                          : 'basic'
                      "
                    />
                    <div class="error-div">
                      <span
                        class="error-block"
                        *ngIf="
                          vesselForm.get('code').errors &&
                          (vesselForm.get('code').touched ||
                            vesselForm.get('code').dirty)
                        "
                      >
                        <span class="error" *ngIf="vesselForm.get('code').errors.required"
                          >Code is required</span
                        >
                        <span
                          class="error"
                          *ngIf="vesselForm.get('code').errors.maxlength"
                          >Maximum 3 characters</span
                        >
                      </span>
                    </div>
                  </div>
            </div>
      
          
        </div>
       
      </form>
    </nb-card-body>
    <nb-card-footer style="text-align: right;">
      <button class="cancel" nbButton status="basic" (click)="cancel()" size="small">
        Close
      </button>
      <button
        nbButton
        status="success"
        (click)="add()"
        [disabled]="!vesselForm.valid"
        id="add"
        size="small"
      >
        {{ action }}
      </button>
    </nb-card-footer>
  </nb-card>