<nb-card class="dialog" [nbSpinner]="loading" nbSpinnerSize="small" nbSpinnerStatus="primary">
  
  <nb-card-header>
    <div class="header-content">
      <span>{{ title }} - {{ step_name }}</span>
      <nb-actions size="small">
        <nb-action icon="more-vertical-outline" [matMenuTriggerFor]="actionMenu"></nb-action>
      </nb-actions>
    </div>
    <mat-menu #actionMenu="matMenu" yPosition="below" xPosition="before">
      <button mat-menu-item class="action-button" (click)="getStructuredRequestData(id)">
      Open step technical details
      </button>
    </mat-menu>
  </nb-card-header>
  
  <nb-card-body>
    <div class="row">
      <nb-card class="card-table container-form">
        <revo-grid filter="{true}" [columns]="columns" [theme]="revogridTheme" [source]="rows" resize="true" rowSize="30"
          range="true"></revo-grid>
      </nb-card>
    </div>
    <div class="row">
    </div>
  </nb-card-body>
  
  <nb-card-footer style="text-align: right">
    <button class="cancel" nbButton status="basic" (click)="cancel()" size="small">
      Close
    </button>
  </nb-card-footer>
</nb-card>
