<nb-card  [nbSpinner]="loading"
nbSpinnerSize="small"
nbSpinnerStatus="primary">
  <nb-card-header>
    <span>Workflow Logs</span>

          <nb-actions size="small" style="text-align: right">
            <nb-action
              icon="more-vertical-outline"
              [matMenuTriggerFor]="actionMenu"
            ></nb-action>
          </nb-actions>
          <mat-menu #actionMenu="matMenu" yPosition="below" xPosition="before">
            <button
              mat-menu-item
              [matMenuTriggerFor]="exportMenu"
              class="action-button"
            >
              Export
            </button>
          </mat-menu>
      
          <mat-menu #exportMenu="matMenu" yPosition="below" xPosition="before">
            <button mat-menu-item class="action-button" (click)="exportAsXLSX()">
              XLSX
            </button>
            <button mat-menu-item class="action-button" (click)="exportAsCSV()">
              CSV
            </button>
          </mat-menu>

  </nb-card-header>

  <nb-card-body>
    <div class="col-sm-6">
      <nb-accordion multi class="filter-container">
        <nb-accordion-item >
          <nb-accordion-item-header class="filter-container-header">
            <span>Advanced Filter (Time)</span>
          </nb-accordion-item-header>
          <nb-accordion-item-body class="filter-container-body">
            <form [formGroup]="filterForm">
              <div class="row filter-group">
                <div class="col-sm-8">
                  <div class="form-group">
                    <label class="label">Start Date - End Date</label>
                    <input
                      nbInput
                      placeholder="dd.mm.yyyy - dd.mm.yyyy"
                      [nbDatepicker]="rangepicker"
                      fullWidth
                      formControlName="date"
                      [status]="errorDateFilter == true ? 'danger' : 'basic'"
                      fieldSize="small"
                    />
                    <nb-rangepicker #rangepicker format="dd.MM.yyyy"></nb-rangepicker>
                    <div class="error-div">
                      <span class="error-block" *ngIf="errorDateFilter == true">
                        <span class="error" *ngIf="errorDateFilter == true"
                          >The format must be dd.MM.yyyy and start date <= end
                          date</span
                        >
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group button-filter">
                    <button
                      type="submit"
                      nbButton
                      status="primary"
                      (click)="filter()"
                      size="small"
                      fullWidth
                      [disabled]="!filterForm.valid"
                    >
                      Filter
                    </button>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group button-filter">
                    <button
                      type="submit"
                      nbButton
                      status="primary"
                      (click)="reset()"
                      size="small"
                      [disabled]="!filterForm.valid"
                      fullWidth
                      outline
                    >
                      Clear
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>
      
    <div class="col-sm-12" style="text-align: right; margin-bottom: 0.5rem;">
      <button
      type="submit"
      nbButton
      status="basic"
      (click)="refresh()"
      size="tiny"
  

    >
    <nb-icon icon="sync-outline"></nb-icon>
    Refresh
    </button>
    &nbsp;&nbsp;&nbsp;
      <nb-select       [(selected)]="selected" [(ngModel)]="defaultRowPerPage" size="tiny">
        <nb-option *ngFor="let option of optionsPager"    [value]="option.value" (click)="setPager()">{{option.value }}</nb-option>
      </nb-select>
    </div>    
  

    <div class="table-container col-md-12">
      <ng2-smart-table
        class="table-data"
        [settings]="settings"
        [source]="source"
        (delete)="onView($event)"
      >
      </ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>